<div class="product-view">
    <div class="product-view__product">
        <div class="product__gallery">
            <div class="gallery__images">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                    alt="Telefone"
                    class="gallery__preview-image">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                    alt="Telefone"
                    class="gallery__preview-image">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                    alt="Telefone"
                    class="gallery__preview-image">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                    alt="Telefone"
                    class="gallery__preview-image">
            </div>
            <div class="gallery__selected-image">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                    alt="Telefone">
            </div>
        </div>
        <div class="product__informations">
            <span class="informations__title">
                Smartphone Samsung Galaxy A71 Dual Chip Android Tela 6,7" Octa-Core 2.2 GHz 128GB 4G Câmera Quádrupla 64MP + 12MP + 5MP + 5MP (Profundidade) - Prata
            </span>
            <div class="informations__payment">
                <span class="payment__older-price">R$ 2.999,00</span>
                <span class="payment__price">R$ 2.999,00</span>
                <span class="payment__way">em até 12x sem juros</span>
            </div>
            <div class="informations__size">
                <span>TAMANHO</span>
                <span>SELECT</span>
            </div>
            <div class="informations__actions">
                <button class="app-button app-button--primary action-button">
                    <span class="action-button__text">Adicionar ao carrinho</span>
                    <i class="material-icons-outlined primary-header__icon">shopping_cart</i>
                </button>
                <button class="app-button">Adicionar aos Favoritos</button>
            </div>
        </div>
    </div>
    <div class="product-view__suggestions">
        <span class="suggestions__title">Sugestões</span>
        <div class="suggestions__wrapper">
            <app-product-item class="suggestions__item"></app-product-item>
            <app-product-item class="suggestions__item"></app-product-item>
            <app-product-item class="suggestions__item"></app-product-item>
        </div>
    </div>
    <div class="product-view__details">
        <div class="details__description">
            <span class="details__title">DETALHES DO PRODUTO</span>
            <p class="details__content">
                Calça masculina confeccionada em sarja, com corte reto, cor preta tradicional, passantes no cós para melhor ajuste, fechamento por botão e zíper no entremeio, bolsos traseiros e frontais simples, mini bolso porta-moeda, cintura média e etiqueta da marca.
                Se existe uma peça de roupa que é a queridinha entre todo mundo, seja homem ou mulher, é a calça Sarja. Todo mundo tem uma peça no guarda-roupa, não importa a classe social. Seja de modelagem ajustada ou mais larga, de lavagem escura ou clara, combina com tudo e está presente desde uma ocasião mais casual até uma bem sofisticada.
                Composição: 98% algodão 2% elastano
            </p>
        </div>
        <div class="details__informations">
            <span class="details__title">INFORMAÇÕES</span>
            <table class="details__content details__content--table">
                <tbody>
                    <tr>
                        <td>SKU</td>
                        <td>VE920APM99YTS</td>
                    </tr>
                    <tr>
                        <td>SKU</td>
                        <td>VE920APM99YTS</td>
                    </tr>
                    <tr>
                        <td>SKU</td>
                        <td>VE920APM99YTS</td>
                    </tr>
                    <tr>
                        <td>SKU</td>
                        <td>VE920APM99YTS</td>
                    </tr>
                    <tr>
                        <td>SKU</td>
                        <td>VE920APM99YTS</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>