<div class="product-management">
    <div class="product-management__header">
        <h1 class="header__title">Controle de produtos</h1>
        <div class="header__actions">
            <app-select class="header__select" 
              [options]="[]" 
              appearance="outline" 
              placeholder="Ordernar por..."></app-select>
            <app-input class="header__input" 
              appearance="outline" 
              icon='search' 
              placeholder="Pesquisar código ou nome"></app-input>
            <button class="header__button app-button app-button--rounded app-button--secondary">
              <span class="button__text">Adicionar produto</span>
              <i class="material-icons">playlist_add</i>
            </button>
          </div>
    </div>
    <div class="product-management__table-wrapper">
        <table class="product-management__table">
            <thead class="product-managemen-table__header">
                <tr>
                    <th class="table-header__column">Código</th>
                    <th class="table-header__column">Nome</th>
                    <th class="table-header__column">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
                <tr>
                    <td class="course-panel-row__column">123456</td>
                    <td class="course-panel-row__column">Celularzao</td>
                    <td class="course-panel-row__column">Teste</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>