<div class="product-details">
    <div class="product-details__title">{{ product?.name }}</div>
    <div class="product-details__informations-wrapper">
        <div class="product-details__informations">
            <div class="product-informations__item">
                <span class="information-item__title">Preço</span>
                <span>{{ product?.price }}</span>
            </div>
            <div class="product-informations__item">
                <span class="information-item__title">Categoria</span>
                <span>{{ product?.category?.name }}</span>
            </div>
            <div class="product-informations__item">
                <span class="information-item__title">Imagem</span>
                <div class="sub-item__img-container">
                    <img [src]="product?.imageSource"                        
                        [alt]="product?.imageSource"
                        class="sub-item__img"
                        height="152px"
                        width="152px">
                </div>
            </div>
            <div class="product-informations__item">
                <span class="information-item__title">Promoções</span>
                <span>{{ product?.sale?.name }}</span>
            </div>
        </div>
        <div class="product-details__actions">
            <button class="details-actions__button app-button app-button--basic" (click)="goBack()">Cancelar</button>
            <button class="details-actions__button app-button app-button--warn" (click)="changeModalMode()">Excluir</button>
            <button class="details-actions__button app-button app-button--primary" (click)="edit()">Editar</button>
        </div>
    </div>
</div>
<app-product-deletion-modal *ngIf="modalIsVisible" 
    [product]="product" (cancel)="changeModalMode()" (delete)="deleteProduct()"></app-product-deletion-modal>