<div class="product-deletion-modal">
    <span class="product-deletion-modal__message">Excluir&nbsp;
        <span class="product-deletion-modal__product">"{{ product?.name }}"</span>&nbsp;do Sistema
    </span>
    <div class="product-deletion-modal__actions">
        <button class="product-deletion-modal__button app-button app-button--basic" (click)="cancelAction()">Cancelar</button>
        <button class="app-button app-button--warn" (click)="deleteProduct()">Excluir</button>
    </div>
</div>