<div class="product-management">
    <div class="product-management__header">
        <h1 class="header__title">Controle de produtos</h1>
        <div class="header__actions">
            <button class="header__button app-button app-button--rounded app-button--secondary" routerLink="register">
              <span class="button__text">Adicionar produto</span>
              <i class="material-icons">playlist_add</i>
            </button>
          </div>
    </div>
    <div class="product-management__table-wrapper">
        <table class="product-management__table">
            <thead class="product-managemen-table__header">
                <tr>
                    <th class="table-header__column">Nome</th>
                    <th class="table-header__column">Preço</th>
                    <th class="table-header__column">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr [routerLink]="[product.id, 'view']" *ngFor="let product of products">
                    <td class="product-row__column">{{ product.name }}</td>
                    <td class="product-row__column">{{ product.price }}</td>
                    <td class="product-row__column">{{ product.category.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>