<div class="e-commerce-dashboard">
    <div class="e-commerce-dashboard__menu" routerLink="product-dashboard">
        <span class="dashboard-menu__title">Comprar</span>
        <i class="material-icons-outlined dashboard-menu__icon">shopping_cart</i>
    </div>
    <div class="e-commerce-dashboard__menu" routerLink="product-management">
        <span class="dashboard-menu__title">Gerenciar produtos</span>
        <i class="material-icons-outlined dashboard-menu__icon">dashboard</i>
    </div>
    <div class="e-commerce-dashboard__menu">
        <span class="dashboard-menu__title">Gerenciar promoções</span>
        <i class="material-icons-outlined dashboard-menu__icon">dashboard</i>
    </div>
</div>