<div class="product-view">
    <div class="product-view__product">
        <div class="product__gallery">
            <img [src]="product?.imageSource"
                    [alt]="product?.name">
        </div>
        <div class="product__informations">
            <span class="informations__title">
                {{ product?.name }}
            </span>
            <div class="informations__payment">
                <span class="payment__price">{{ product?.price }}</span>
                <span class="payment__way">em até 12x sem juros</span>
            </div>
            <div class="informations__actions">
                <button class="app-button app-button--primary action-button" (click)="addProductToCart()">
                    <span class="action-button__text">Adicionar ao carrinho</span>
                    <i class="material-icons-outlined primary-header__icon">shopping_cart</i>
                </button>
            </div>
        </div>
    </div>
    <div class="product-view__suggestions">
        <span class="suggestions__title">Sugestões</span>
        <div class="suggestions__wrapper">
            <app-product-item class="suggestions__item" 
                [routerLink]="[suggestion.id, 'view']" 
                *ngFor="let suggestion of suggestionsOfProducts" [product]="suggestion"></app-product-item>
        </div>
    </div>
</div>