<div class="cart-container">
    <div class="cart-container__products">
        <span class="products__title">Minha Cesta</span>
        <table class="products-table">
            <thead>
                <tr>
                    <th class="products-table__column products-table__column--header">Produto</th>
                    <th class="products-table__column products-table__column--header products-table__column--center">Quantidade</th>
                    <th class="products-table__column products-table__column--header products-table__column--center">Preço</th>
                    <th class="products-table__column products-table__column--header products-table__column--center">Promoções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="products-table__column products-table__column--body">
                        <app-product-item class="cart-product__item"></app-product-item>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <div class="product-quantity__input">
                            <i class="material-icons product-quantity__icon">remove</i>
                            <app-input appearance="basic" type="number"></app-input>
                            <i class="material-icons product-quantity__icon">add</i>
                        </div>
                        <span class="product-quantity__footer">Remover</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-price__value">R$ 6.574,67</span>
                    </td>
                    <td class="products-table__column products-table__column--body products-table__column--center">
                        <span class="product-sale__description">
                            Leve 3 por 1
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cart-container__payment">
        <span class="payment__title">resumo do pedido</span>
        <div class="payment__price">
            <span class="cart-price__title">total</span>
            <div class="cart-price__details">
                <span class="cart-price__value">R$ 6.574,67</span>
                <span class="cart-price__way">em até 12x sem juros</span>
            </div>
        </div>
        <div class="payment__actions">
            <button class="app-button app-button--primary payment__action-button">Finalizar Compra</button>
            <button class="app-button app-button--secondary">Escolher mais produtos</button>
        </div>
    </div>
</div>