<div class="product-table">
    <div class="product-table__filters">
        Filtros
    </div>
    <div class="product-table__products-wrapper">
        <div class="product-table__products">
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
            <app-product-item class="products__item"></app-product-item>
        </div>
    </div>
</div>