<div class="product-item">
    <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
        alt="Telefone"
        class="product-item__img">
    <span class="product-item__name">Smartphone Samsung Galaxy A71 Dual Chip Android Tela 6,7" Octa-Core 2.2 GHz 128GB 4G Câmera Quádrupla 64MP + 12MP + 5MP + 5MP (Profundidade) - Prata</span>
    <span class="product-item__price">R$ 2.999,00</span>
    <span class="product-item__payment">em até 12x sem juros</span>
</div>