:host {
    padding: 32px;
    overflow: auto;
    display: flex;
    flex: 1;
    justify-content: center;

    .product-form-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 1280px;

        &__title {
            font-size: var(--typography-h3);
            padding: 16px;
            border-bottom: 4px solid var(--primary-900);
        }

        &__form {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    .product-form {
        &__inputs {
            padding: 16px;
            flex: 1;
            font-size: var(--typography-body-1);
            display: flex;
            flex-direction: column;
        }

        &__input, &__select {
            margin: 16px 0;
        }
        
        &__select {
            width: 30%;
        }

        &__sub-form {
            padding: 32px 0;
        }

        &__actions {
            border-top: 4px solid var(--primary-900);
            padding: 32px;
            display: flex;
            justify-content: flex-end;
        }
    }

    .sub-form {
        &__title {
            font-size: var(--typography-h6);
            font-weight: bold;
        }

        &__input-container {
            display: flex;
            align-items: center;
        }

        &__input {
            flex: 1;

            &:first-child {
                margin-right: 24px;
            }
        }

        &__select {
            &:first-child {
                margin-right: 24px;
            }
        }

        &__icon {
            cursor: pointer;
        }

        &__button {
            margin-top: 16px;
        }
    }

    .form-actions {
        &__button {
            height: 56px;
            width: 160px;
            font-size: var(--typography-h6);

            &:last-child {
                margin-left: 24px;
            }
        }
    }
}