<div class="product-form-container">
    <div class="product-form-container__title">
        Cadastrar produto
    </div>
    <form class="product-form-container__form">
        <div class="product-form__inputs">
            <app-input class="product-form__input" 
                label="Código do produto" 
                appearance="standard" 
                type="text"></app-input>
            <app-input class="product-form__input" 
                label="Nome do produto" 
                appearance="standard" 
                type="text"></app-input>
            <app-input class="product-form__input" 
                label="Preço" 
                appearance="standard" 
                type="text"></app-input>
            <app-input class="product-form__input" 
                label="Preço promocional" 
                appearance="standard" 
                type="text"></app-input>
            <!-- <app-textarea class="product-form__textarea" 
                label="Descritivo" 
                [appFormGroup]="courseForm"
                appFormControlName="description"></app-textarea> -->
            <app-select class="product-form__select" 
                appearance="standard" 
                placeholder="Categoria"
                [options]="[]"></app-select>
            <div class="product-form__sub-form">
                <span class="sub-form__title">Informações</span>
                <div class="sub-form__input-container">
                    <app-input class="product-form__input sub-form__input" 
                        label="Label da informação" 
                        appearance="standard" 
                        type="text"></app-input>
                    <app-input class="product-form__input sub-form__input" 
                        label="Valor da informação" 
                        appearance="standard" 
                        type="text"></app-input>
                    <i class="material-icons-outlined sub-form__icon">delete</i>
                </div>
                <div class="sub-form__input-container">
                    <app-input class="product-form__input sub-form__input" 
                        label="Label da informação" 
                        appearance="standard" 
                        type="text"></app-input>
                    <app-input class="product-form__input sub-form__input" 
                        label="Valor da informação" 
                        appearance="standard" 
                        type="text"></app-input>
                    <i class="material-icons-outlined sub-form__icon">delete</i>
                </div>
                <button class="app-button app-button app-button--primary">Adicionar Informação</button>
            </div>
            <div class="product-form__sub-form">
                <span class="sub-form__title">Imagens</span>
                <div class="sub-form__input-container">
                    <app-input class="product-form__input sub-form__input" 
                        label="Link da imagem" 
                        appearance="standard" 
                        type="text"></app-input>
                    <!-- <img> -->
                    <i class="material-icons-outlined sub-form__icon">delete</i>
                </div>
                <div class="sub-form__input-container">
                    <app-input class="product-form__input sub-form__input" 
                        label="Link da imagem" 
                        appearance="standard" 
                        type="text"></app-input>
                    <!-- <img> -->
                    <i class="material-icons-outlined sub-form__icon">delete</i>
                </div>
                <button class="app-button app-button app-button--primary">Adicionar Imagem</button>
            </div>
            <div class="product-form__sub-form">
                <span class="sub-form__title">Promoções</span>
                <div class="sub-form__input-container">
                    <app-select class="product-form__select sub-form__select" 
                        appearance="standard" 
                        placeholder="Promoção"
                        [options]="[]"></app-select>
                    <i class="material-icons-outlined sub-form__icon">delete</i>
                </div>
                <div class="sub-form__input-container">
                    <app-select class="product-form__select sub-form__select" 
                        appearance="standard" 
                        placeholder="Promoção"
                        [options]="[]"></app-select>
                    <i class="material-icons-outlined sub-form__icon">delete</i>
                </div>
                <button class="app-button app-button app-button--primary">Adicionar Promoção</button>
            </div>
        </div>
        <div class="product-form__actions">
            <button class="form-actions__button app-button app-button--basic">Cancelar</button>
            <button class="form-actions__button app-button app-button--primary" 
                type="submit"
                >Salvar</button>
        </div>
    </form>
</div>