<div class="product-form-container">
    <div class="product-form-container__title">
        Cadastrar produto
    </div>
    <form class="product-form-container__form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="product-form__inputs">
            <app-select class="product-form__select" 
                appearance="standard" 
                placeholder="Categoria"
                [options]="categories"
                [appFormGroup]="productForm"
                appFormControlName="category"
                [initialSelectedValue]="productForm.controls.category.value || null"></app-select>
            <app-select class="product-form__select" 
                appearance="standard" 
                placeholder="Promoção"
                [options]="sales"
                [appFormGroup]="productForm"
                appFormControlName="sale"
                [initialSelectedValue]="productForm.controls.sale.value || null"></app-select>
            <app-input class="product-form__input" 
                label="Nome do produto" 
                appearance="standard" 
                type="text"
                [appFormGroup]="productForm"
                appFormControlName="name"></app-input>
            <app-input class="product-form__input" 
                label="Preço" 
                appearance="standard" 
                type="number"
                [appFormGroup]="productForm"
                appFormControlName="price"></app-input>
            <app-input class="product-form__input" 
                label="Url da Imagem" 
                appearance="standard" 
                type="text"
                [appFormGroup]="productForm"
                appFormControlName="imageSource"></app-input>
        </div>
        <div class="product-form__actions">
            <button class="form-actions__button app-button app-button--basic" type="button" (click)="goBack()">Cancelar</button>
            <button class="form-actions__button app-button app-button--primary" 
                type="submit"
                [disabled]="!productForm.valid"
                >Salvar</button>
        </div>
    </form>
</div>