<div class="product-details">
    <div class="product-details__title">
        cod_123456 - Celularzao
    </div>
    <div class="product-details__informations-wrapper">
        <div class="product-details__informations">
            <div class="product-informations__item">
                <span class="information-item__title">Preço</span>
                <span>cod_123456</span>
            </div>
            <div class="product-informations__item">
                <span class="information-item__title">Preço promocional</span>
                <span>cod_123456</span>
            </div>
            <div class="product-informations__item">
                <span class="information-item__title">Categoria</span>
                <span>cod_123456</span>
            </div>
            <div class="product-informations__item">
                <span class="information-item__title">Informações</span>
                <div class="sub-item">
                    <span class="sub-item__label">Label da informação</span>
                    <span>Valor da informação</span>
                </div>
                <div class="sub-item">
                    <span class="sub-item__label">Label da informação</span>
                    <span>Valor da informação</span>
                </div>
                <div class="sub-item">
                    <span class="sub-item__label">Label da informação</span>
                    <span>Valor da informação</span>
                </div>
                <div class="sub-item">
                    <span class="sub-item__label">Label da informação</span>
                    <span>Valor da informação</span>
                </div>
            </div>
            <div class="product-informations__item">
                <span class="information-item__title">Imagens</span>
                <div class="sub-item__img-container">
                    <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                        alt="Telefone"
                        class="sub-item__img"
                        height="152px"
                        width="152px">
                    <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                        alt="Telefone"
                        class="sub-item__img"
                        height="152px"
                        width="152px">
                    <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                        alt="Telefone"
                        class="sub-item__img"
                        height="152px"
                        width="152px">
                    <img src="https://images-americanas.b2w.io/produtos/01/00/img/1446551/8/1446551843_1GG.jpg"
                        alt="Telefone"
                        class="sub-item__img"
                        height="152px"
                        width="152px">   
                </div>
            </div>
            <div class="product-informations__item">
                <span class="information-item__title">Promoções</span>
                <span>Label da informação</span>
                <span>Label da informação</span>
                <span>Label da informação</span>
                <span>Label da informação</span>
            </div>
        </div>
        <div class="product-details__actions">
            <button class="details-actions__button app-button app-button--basic">Cancelar</button>
            <button class="details-actions__button app-button app-button--warn">Excluir</button>
            <button class="details-actions__button app-button app-button--primary">Editar</button>
        </div>
    </div>
</div>