body {
    --typography-h1: 96px;
    --typography-h2: 60px;
    --typography-h3: 48px;
    --typography-h4: 36px;
    --typography-h5: 24px;
    --typography-h6: 20px;
    --typography-subtitle-1: 16px;
    --typography-subtitle-2: 14px;
    --typography-body-1: 16px;
    --typography-body-2: 14px;
    --typography-button: 14px;
    --typography-caption: 13px;
    --typography-overline: 10px;
}